@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700;800&family=Source+Sans+Pro:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

.click {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.click:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blue-button {
  background-color: #266efd;
  border-radius: 5px;
  -webkit-box-shadow: rgba(3, 19, 232, 0.35) 0px 5px 15px;
          box-shadow: rgba(3, 19, 232, 0.35) 0px 5px 15px;
}

.hero {
  height: 540px;
  background-image: url(/images/hero-image.png);
  background-size: cover;
  color: white;
  padding: 0 140px;
}

.hero .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  margin-bottom: 100px;
}

.hero .navbar p {
  font-size: 45px;
  font-weight: 700;
}

.hero .navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .navbar ul li {
  font-size: 20px;
  padding: 10px 20px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero .hero-text {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero .post {
  font-size: 20px;
  max-width: 220px;
  padding: 16px 0;
  text-align: center;
  font-weight: 700;
  -webkit-box-shadow: rgba(3, 19, 232, 0.35) 0px 5px 15px;
          box-shadow: rgba(3, 19, 232, 0.35) 0px 5px 15px;
}

.jobs-offers {
  padding: 0 140px;
}

.jobs-offers .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
  margin-bottom: 40px;
}

.jobs-offers .header h1 {
  color: #141414;
  font-weight: 700;
  font-size: 48px;
}

.jobs-offers .header p {
  color: #266efd;
  font-weight: 800;
  font-size: 20px;
}

.jobs-offers .components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}

.jobs-offers .components .component {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.jobs-offers .components .component .title {
  color: #266efd;
  font-weight: 800;
  font-size: 24px;
}

.jobs-offers .components .component p {
  max-width: 400px;
  color: #141414;
  font-weight: 300;
}

.jobs-offers .components .component p span {
  font-weight: 700;
  padding-right: 5px;
}

.jobs-offers .components .component .data {
  margin-bottom: 15px;
}

.jobs-offers .components .component small {
  position: absolute;
  top: 5%;
  right: 15%;
  font-size: 18px;
  font-weight: 300;
}

.jobs-offers .components .component .button {
  padding: 0 10px;
  background-color: #266efd;
  position: absolute;
  font-size: 24px;
  color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -10%;
  right: 15%;
  -webkit-box-shadow: rgba(3, 19, 232, 0.35) 0px 5px 15px;
          box-shadow: rgba(3, 19, 232, 0.35) 0px 5px 15px;
}

.jobs-offers .components .bordered {
  position: relative;
}

.jobs-offers .components .bordered:after {
  content: '';
  width: 1px;
  height: 100%;
  right: 7%;
  top: 0;
  background: #aaaaaa;
  position: absolute;
}

.featured-companies {
  padding: 0 140px;
}

.featured-companies h1 {
  font-size: 48px;
}

.featured-companies .companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 60px;
}

.featured-companies .company {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.featured-companies .company img {
  border: 1px solid #aaaaaa;
  border-radius: 50%;
  padding: 20px;
}

.featured-companies .company p {
  font-weight: 700;
  font-size: 24px;
}

.featured-companies .company-button {
  position: absolute;
  font-size: 40px;
  background-color: #266efd;
  border-radius: 50%;
  padding: 0 15px;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  right: -50px;
  color: white;
  -webkit-box-shadow: rgba(3, 19, 232, 0.35) 0px 5px 15px;
          box-shadow: rgba(3, 19, 232, 0.35) 0px 5px 15px;
}

.newsletter {
  margin: 0 140px;
  background: url(/images/Newsletter-image.png);
  background-color: #141414;
  background-size: cover;
  height: 325px;
  color: white;
}

.newsletter .wrapper {
  margin: 0 70px;
}

.newsletter .wrapper h1 {
  font-size: 48px;
  padding-top: 70px;
  margin-bottom: 10px;
}

.newsletter .wrapper p {
  max-width: 525px;
  font-size: 20px;
  margin-bottom: 30px;
}

.newsletter .wrapper .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter .wrapper .input input {
  width: 350px;
  padding: 10px;
  border-radius: 6px;
  margin-right: 20px;
  outline: none;
}

.newsletter .wrapper .input .button {
  height: 40px;
  background-color: #266efd;
  width: 150px;
  border-radius: 6px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(3, 19, 232, 0.35) 0px 5px 15px;
          box-shadow: rgba(3, 19, 232, 0.35) 0px 5px 15px;
  font-weight: 700;
}

.footer {
  padding: 60px 0;
  font-size: 20px;
}

.footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  color: #141414;
}

.footer ul li {
  padding: 0 25px;
}
/*# sourceMappingURL=style.css.map */